header{
    position: fixed; /* 스크롤시에도 고정 */
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}
.nav-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    text-decoration: none;
    font-size: 18px;
    color: #080606;
    padding: 20px 50px;
}
.menu-icon{
    display: none;
    margin-right: 40px;
}

.close-btn{
    display: none;
}

.user-icon img, .cart-icon img{
    width: 30px;
    height: 30px;
    margin-right: 40px;
}

body{
    padding-top: 8cap;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/************** section **************/
.backg{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cake{
    width: 700px;
    height: 900px;
    background-image: url(/images/cake.jpg);
    background-size: cover;
    background-position: center;
}

/************** best-item ***********/
.best-item{
    padding: 60px 20px;
    text-align: center;
    background-color: rgb(250, 252, 237);
}

.best-item h2{
    font-size: 2rem;
    margin-bottom: 60px;
}

.slider-item{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-height: 300px;

}

.slider{
    /* flex: 1; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 4); /* pc : 3개 */
    gap: 20px;
    transition: transform 0.5s;
    padding-bottom: 60px;
}

.slide img{
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1; /* 가로 세로 비율 1:1 유지 */
    object-fit: cover; /* 비율 깨짐 방지 */
    border-radius: 10px;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 2em;
    z-index: 99;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

/* aos */
.event{
    width: 100%;
    height: 600px;
    padding: 80px 0;
}
.event-box{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    /* border: 1px solid #080606; */
}
.event-box > div{
    /* flex-shrink: 0; */
    width: 80%;
    max-width: 1000px;
    height: 400px;
    border-radius: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.event-box > div:first-child{
    background-color: blanchedalmond;
}
.event-box > div:last-child{
    background-color: #f5f6f8;
}

/* main */
.main-item {
    position: relative;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/images/star04.jpg');
    opacity: 0.6;
}

.main-text {
	height: 17em;
	width:100%;
	background-color: white;
}
.main-text:nth-child(1){
    background-color: transparent;
    height: 28em;
}
.main-text h2{
    font-size: 3rem;
    color: #fff;
}

.main-text p{
    color: #fff;
}

footer{
    text-align: center;
    padding: 60px 0;
    background-color: rgb(250, 252, 237);
}
footer h2{
    color: rgb(152, 152, 150);
}

footer p{
    color: rgb(152, 152, 150);
}

.footer-icon ul{
    display: flex;

}

/* 태블릿 */
@media (max-width:1024px){
    .event-box{
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
    }

    .event-box > div {
        width: 100%;
        max-width:90%;
        height: 300px;
    }

}

/* 모바일(768px 이하) */
@media (max-width: 768px){
    .grid-container{
        grid-template-columns: 1fr; /* 1열 레이아웃 */
    }
    
    .nav-links{
        position: absolute;
        top: 0px;
        right: 0;
        width: 50%;
        height: 100vh;
        background: #fff;
        transform: translateX(100%); /* 오른쪽 밖으로 숨김 */
        transition: transform 0.3s ease-in-out;
        z-index: 99;
    }

    .nav-links ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; /* 수직 */
        text-align: center;
    }
    .nav-links li{
        padding: 20px 0;
        border-bottom:1px  solid #e2dede;
        color: #080606;
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 30;
    }

    .nav-links.active{
        transform: translateX(0);
    }

    .nav-links.active ~ .overlay{
        opacity: 1;
        pointer-events: auto;
    }
    .nav-links.active .close-btn{
        display: block;
        cursor: pointer;
        color: #fff;
    }
    .menu-icon, .search-icon{
        display: block;
        cursor: pointer;
    }

    .close-btn{
        position: absolute;
        top: 20px;
        left: -40px;
        font-size: 2rem;
        color: #080606;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 102;
    }
    .user-icon{
        display: none;
    }

    .menu-icon img{
        width: 30px;
        height: 30px;
    }

    .search-icon img{
        width: 30px;
        height: 30px;
    }

    .backg{
        height: 500px;
    }
    
    .cake{
        width: 350px;
        height: 450px;
    }

    .slider {
        grid-auto-columns: calc(100% / 2);
    }

    /* .event-box{
        flex-direction: column;
        padding: 0 16px;
    }

    .event-box > div {
        width: 100%;
        max-width: 100%;
        height: 250px
    } */

    .main-text h2{
        font-size: 2rem;
    }
    
    .main-text p{
        font-size: 1rem;
    }
    
}